@using NonFactors.Mvc.Grid;
@model IGrid

<div class="mvc-grid">
    <table class="table mvc-grid-table">
        <thead>
            <tr>
                @foreach (IGridColumn column in Model.Columns)
                {
                    <th>@column.Title</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (IGridRow row in Model.Rows)
            {
                <tr>
                    @foreach (IGridColumn column in Model.Columns)
                    {
                        <td>@column.ValueFor(row)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial(Model.Pager.PartialViewName, Model.Pager)
</div>